

$form-transition-time: 0.25s;


.form {

	// form group
	&__group {
		position: relative;
	}

	// form group content
	&__group-content {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	// form control
	&__control {
		display: block;
		width: 100%;
		padding: 20px;
		font-size: 14px;
    line-height: 20px;
		text-align: center;
		color: #000;
		border: 1px solid $grey;
		overflow: visible;
		background-color: transparent;
		background-clip: padding-box;
		outline-color: transparent;
		cursor: pointer;
		transition: border-color $form-transition-time;
	}

	// form labels
	&__error,
	&__border,
	&__placeholder {
		display: block;
		position: absolute;
		right: 0;
		left: 0;
		text-align: center;
		pointer-events: none;
	}

	// form border
	&__border {
		top: 0;
		bottom: 0;
		border: 4px solid $grey;
		transition: border-color $form-transition-time;
	}

	// fake placeholder
	&__placeholder {
		display: flex;
		justify-content: center;
		align-items: center;
		top: 7px;
		bottom: 7px;
		font-size: 14px;
		line-height: 20px;
		text-transform: uppercase;
		color: #000;
		transition: transform $form-transition-time, color $form-transition-time;
	}

	// form error label
	&__error {
		display: block;
		padding: 10px;
		top: 100%;
		font-size: 12px;
		line-height: 18px;
		color: $danger;
		opacity: 0;
		transition: opacity $form-transition-time;
	}

	// form title
	&__title {
		font-size: 30px;
		line-height: 40px;
		font-family: 'Rubik Mono One';
		font-weight: 400;
		text-align: center;
	}

	// form radio
	&__radio {
		@include sr-only();
		position: fixed; // for mobiles
	}

	// submit btn
	.btn[type="submit"] {
		display: block;
		margin: auto;
	}

} // form



// FORM BEHAVIOR

.form {

	&__control {

		&:focus {
			cursor: text;
		}
		&:focus,
		&:hover,
		&.error,
		&.success {
			& ~ .form__border {
				border-color: transparent;
			}
			& ~ .form__placeholder {
				color: $grey;
				transform: translate3d(0, -100%, 0);
			}
		}
		&.error {
			border-color: $danger;
			& ~ .form__border {
				border-color: transparent;
			}
			& ~ .form__error {
				opacity: 1;
			}
		}
		&.success {
			& ~ .form__border {
				border-color: $primary;
			}
		}
	}

} // form