

.is-loading {
	overflow: hidden;
}

.loader {
	display: none;
}

.loader {

	.is-loading & {
		display: block;
		display: flex;
	}

	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	background-color: #fff;
	
	&__img {
		width: 38px;
		height: 140px;
		// background: orange;
	}

} // loader


@keyframes bottle {
  0% {
    fill: #362C26;
    transform: scale(1);
  }
  50% {
    fill: #CFAA6B;
    transform: scale(1.2);
  }
}