

.header {
	border-top: 50px solid $primary;
	&__bar {
		background: $dark-grey;
	}
	&__logo {
		position: relative;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
	&__content {
		background-image: url('../img/banner.jpg');
		background-color: $grey;
		background-size: cover;
		background-position: 50%;
	}
	&__title {
		font-family: 'Rubik Mono One';
		font-weight: 400;
		text-align: center;
		text-transform: uppercase;
		color: #fff;
	}
}