

.features {

	// features list
	&__list {
		@include scut-list-unstyled();
		padding: 0;
		margin-bottom: 50px;
		text-align: center;
	}

	// features item
	&__item {
		padding: 0;
		flex: 1;
	}

	// features label
	&__label {
		padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
		cursor: pointer;
		user-select: none;
		&:hover {
			.features__title {
				color: $danger;
			}
			.icon {
				&:before {
					opacity: 0;
				}
				&:after {
					opacity: 1;
				}
			}
		}
	}

	// features icon
	.icon {
		display: block;
		height: 60px;
		width: 100%;
		margin-bottom: 30px;
	}

	// features title
	&__title {
		font-family: 'Rubik Mono One';
		text-transform: uppercase;
		font-weight: 400;
		color: $primary;
		transition: color 0.25s;
	}

	// features descriptions
	&__dl {
		@include scut-list-unstyled();
		@include clearfix();
		padding: 0;
		text-align: center;
		margin-bottom: 55px;
	}
	&__dl-item {
		float: left;
		width: 100%;
		margin-right: -100%;
		position: relative;
	} // stacked features items
	&__dd {
		font-size: 14px;
		line-height: 20px;
		text-transform: uppercase;
		font-weight: 700;
		background-color: #fff;
		opacity: 0;
		transition: opacity 0.25s;
		.features__list & {
			transition: height 0.25s;
		}
	}

} // features




// FEATURES BEHAVIOR

@for $i from 1 through 5 {

	.features {

		.form__radio:nth-child(#{$i}):checked {

			& ~ .features__list {
				.features__item:nth-child(#{$i}) {
					.icon {
						&:before {
							opacity: 0;
						}
						&:after {
							opacity: 1;
						}
					}
					.features__title {
						color: $danger;
					}
					.features__dd {
						height: auto;
						opacity: 1;
					}
				} // nth features item
			} // find features list
			
			& ~ .features__dl {
				.features__dl-item:nth-child(#{$i}) {
					z-index: 1;
					.features__dd {
						opacity: 1;
					}
				}
			} // features descriptin list

		} // nth radio checked

	} // features

} // for