block vars  

doctype html
html(lang='ru')
  head 
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title #{pageTitle}
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
    meta(name='description', content='#{description}')
    meta(name='keywords', content='')

    block head
    
    style.
      .is-loading {
        overflow: hidden;
      }

      .loader {
        display: none;
      }

      .loader {
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1000;
        background-color: #fff;
      }
        .is-loading .loader {
          display: block;
          display: flex;
        }
        .loader__img {
          width: 38px;
          height: 140px;
          animation-name: bottle;
          animation-duration: 3s;
          animation-iteration-count: infinite;
        }

      @keyframes bottle {
        0% {
          fill: #362C26;
          transform: scale(1);
        }
        50% {
          fill: #CFAA6B;
          transform: scale(1.2);
        }
      }

    script.
      console.log('page is loading...');
      window.addEventListener('load', function(){
        setTimeout(function(){
          console.log('page is loaded')
          document.body.classList.remove('is-loading');
        }, 5000);
      });

    <link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One|Rubik:400,700&amp;subset=cyrillic" rel="stylesheet">

    link(rel='stylesheet', href="./css/style.css")


    block topScripts



  body.is-loading

    // PRELOADER

    .loader
      .loader__img
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 140"><path d="M34.3 59.1l-3.5-6.6c-.3-.6-.5-1.3-.6-2L25.9 8.3h-.1c.4 0 .6-.4.5-.7l-.9-1.9c-.1-.2 0-.5.1-.6.4-.3.1-.9-.3-.9h1.6l-.7-3C25.8.4 25.3 0 24.6 0H13.4c-.7 0-1.2.4-1.4 1.1l-.7 3h1.5c-.5 0-.7.6-.4.9h.1c.2.2.2.4.1.6l-.9 1.9c-.2.3.1.7.5.7L8.3 51c-.1.7-.3 1.3-.6 1.9l-3.9 7.3C1.3 64.7 0 69.8 0 75v56.5c0 4.7 3.9 8.5 8.7 8.5h20.4c4.9 0 8.8-3.9 8.8-8.7V73.8c.1-5.1-1.2-10.2-3.6-14.7"/></svg>


    // HEADER

    header.header

      .header__bar
        a.header__logo(href="#")
          i.main-logo
      .header__content
        .container
          h1.h1.header__title 
            | Ваш шанс 
            br
            | выиграть годовой 
            br
            | запас пива от GoldenBottle!
      //


      // FORM
      
      .container
        .row
          form.col.form(novalidate)

            // form controls
            .row
              .col.form__group
                .form__group-content
                  input.form__control(type="text" name="name" id="name" autocomplete="off")
                  span.form__border
                  label.form__placeholder
                    | Имя Фамилия
                  label.form__error
                    | Введите корректный номер
              .col.form__group
                .form__group-content
                  input.form__control(type="tel" name="tel" id="tel" autocomplete="off")
                  span.form__border
                  label.form__placeholder
                    | Телефон
                  label.form__error
                    | Введите корректный номер
              .col.form__group
                .form__group-content
                  input.form__control(type="email" name="email" id="email" autocomplete="off")
                  span.form__border
                  label.form__placeholder
                    | E-mail
                  label.form__error
                    | Введите корректный email
            .row
              h2.col.form__title В чем отличие настоящего шотландского стаута от обычного темного пива?


            // FEATURES

            .row
              .features

                input.form__radio(type="radio" name="features" id="stronghold")
                input.form__radio(type="radio" name="features" id="taste")
                input.form__radio(type="radio" name="features" id="color")
                input.form__radio(type="radio" name="features" id="component")
                input.form__radio(type="radio" name="features" id="age")
                

                // features list

                ul.features__list
                  li.col.features__item
                    label.features__label(for="stronghold")
                      i.icon.icon--features.icon--stronghold
                      h4.features__title 
                        | Крепость
                  li.col.features__item
                    label.features__label(for="taste")
                      i.icon.icon--features.icon--taste
                      h4.features__title 
                        | Вкус
                  li.col.features__item
                    label.features__label(for="color")
                      i.icon.icon--features.icon--color
                      h4.features__title 
                        | Цвет
                  li.col.features__item
                    label.features__label(for="component")
                      i.icon.icon--features.icon--component
                      h4.features__title 
                        | Ингредиенты
                  li.col.features__item
                    label.features__label(for="age")
                      i.icon.icon--features.icon--age
                      h4.features__title 
                        | Возраст

                
                // features descriptions

                ul.col.features__dl
                  li.features__dl-item
                    p.features__dd
                      | Текст про крепость
                  li.features__dl-item
                    p.features__dd
                      | Настоящий солод для шотландского стаута проходит три стадии обработки, после которых вкусовые качества напитка получаются совершенно бесподобными!
                  li.features__dl-item
                    p.features__dd
                      | Текст про цвет
                  li.features__dl-item
                    p.features__dd
                      | Текст про ингредиенты
                  li.features__dl-item
                    p.features__dd
                      | Текст про возраст


            .row
              .col
                button.btn.btn--danger(type="submit")
                  | Отправить



    block bottomScripts

      script(src="./js/bundle.js")

