

.btn {
	
  display: inline-block;
  min-width: 240px;
  padding: 20px;
  font-family: 'Rubik Mono One';
  font-size: 16px;
  line-height: 20px;
  border: none;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: visible;
  background-color: transparent;
  outline: none !important;
  -webkit-appearance: button;
  cursor: pointer;
  user-select: none;
  transition: all 0.25s;

  &--danger {
  	color: #fff;
    background-color: $danger;
    &.disabled {
      background-color: $light-grey;
      color: $grey;
      cursor: none;
      pointer-events: none;
    }
  	&:hover,
  	&:active {
  		background-color: $danger-dark;
  	}
  }

} // btn