

.container {
	@include container();
	padding-right: $main-gutter;
	padding-left: $main-gutter;
}

@mixin row() {
	@include clearfix();
	margin-right: -($main-gutter);
	margin-left: -($main-gutter);
}

@mixin col() {
	padding-right: $main-gutter;
	padding-left: $main-gutter;
}

.row {
	@include row();
}

.col {
	@include col();
}



// HEADER
.header {
  $header-bar-height: 80px;
  $header-logo-size: 120px;
  &__bar {
    height: $header-bar-height;
  }
  &__logo {
    width: $header-logo-size;
    height: $header-logo-size;
    top: -(($header-logo-size - $header-bar-height) / 2);
  }
  &__content {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  &__title {
    max-width: 25em;
    font-size: 21px;
    line-height: 30px;
  }
} // header

// FORM
.form {
  padding-top: 50px;
  padding-bottom: 100px;
  &__group {
    padding-top: 30px;
    margin-bottom: 48px;
  }
  &__title {
    margin: 70px auto 50px;
    font-size: 20px;
    line-height: 30px;
  }
} // form

// FEATURES
.features {
  &__item {
    margin-bottom: 30px;
    overflow: hidden;
  }
  &__dl {
    display: none;
  }
} // features


// BP 576

@media (min-width: 576px) {

  .header {
    $header-bar-height: 100px;
    $header-logo-size: 160px;
    &__bar {
      height: $header-bar-height;
    }
    &__logo {
      width: $header-logo-size;
      height: $header-logo-size;
      top: -(($header-logo-size - $header-bar-height) / 2);
    }
    &__title {
      font-size: 36px;
      line-height: 42px;
    }
  } // header

  // FORM
  .form {
    width: span(9 of 12);
    margin-right: auto;
    margin-left: auto;
  }

} // bp 576



// BP 768

@media (min-width: 768px) {

  // HEADER
  .header {
    &__title {
      font-size: 50px;
      line-height: 65px;
    }
  } // header

  // FORM
  .form {
    width: 100%;
    padding-top: 50px;
    &__group {
      @include span(1 of 3);
    }
    &__title {
      width: span(8 of 10);
      margin-top: 70px;
      font-size: 30px;
      line-height: 40px;
    }
  } // form

  // FEATURES
  .features {
    &__list {
      display: inline-block;
      display: flex;
      justify-content: space-between;
      margin-bottom: 0;
      .features__dd {
        display: none;
      }
    }
    &__item {
      overflow: visible;
      display: flex;
      justify-content: center;
      align-items: start;
    }
    &__dl {
      display: block !important;
      width: span(8 of 10);
      margin-left: auto;
      margin-right: auto;
      // padding-bottom: 55px;
    }
  }

} // bp 768



// BP 992

@media (min-width: 992px) {

  // FORM
  .form {
    width: span(9 of 12);
  } // form

} // bp 992