

*,
*:before,
*:after {
	background-repeat: no-repeat;
}

body {
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}



// SUSY SETUP

$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: inside,
  container: 1200px,
  container-position: center,
  columns: 12,
  gutters: 0,
  gutter-override: no-gutters,
  column-width: false,
  global-box-sizing: border-box,
  last-flow: to,
  // debug: (
  //   image: hide,
  //   color: rgba(#66f, .25),
  //   output: background,
  //   toggle: top right,
  // ),
  // use-custom: (
  //   background-image: false,
  //   background-options: false,
  //   box-sizing: true,
  //   clearfix: true,
  //   rem: true,
  // )
);

