

// VARIABLES

$primary: #cfaa6b;
$grey: #717171;
$dark-grey: #262626;
$danger: #ff2731;
$danger-dark: #dc1822;
$light-grey: #dbdbdb;

$main-gutter: 20px;





// NORMALIZE

@import './bs-normalize';


// LIBS

@import './libs';


// SETUP

@import './mixins';
@import './setup';


// ELEMENTS

@import './elements/elements__logo';
@import './elements/elements__features-icons';
@import './elements/elements__btn';


// BLOCKS

@import './blocks/blocks__header';
@import './blocks/blocks__form';
@import './blocks/blocks__features';
// @import './blocks/blocks__loader';


// LAYOUT

@import './layout';